.checkout-page {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 calc(50% - 20px);
  margin-right: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="tel"] {
  width: calc(100% - 60px);
}

.order-summary {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-image {
  width: 10rem;
  height: 8rem;
  /* background-color: #dd1a1a; */
  margin-right: 10px;
}

.item-details {
  flex: 1;
}

.item-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.item-price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.total-label {
  font-size: 18px;
  font-weight: 600;
}

.total-price {
  font-size: 18px;
  font-weight: 600;
}

.place-order-button {
  display: block;
  margin-top: 20px;
  background-color: #ff3f6c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.place-order-button:hover {
  background-color: #f03555;
}
