.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 350px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input[type="password"] {
  padding-right: 40px;
}

.show-password-btn {
  position: absolute;
  right: 10px;
  transform: translateY(-40%);
  background: none;
  border: none;
  cursor: pointer;

  color: red;
  /* margin-right: 5px; */
}

.show {
  color: #007bff;
}
.show-password-btn:hover {
  background: none;
}

.login-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
.forg{
  font-size:1rem!important ;
  line-height:.829em !important;
  letter-spacing:-.4pt!important;
  word-break: break-word!important;
  font-weight: 500;

  color: green !important;




}
.forg:hover{
  cursor: pointer;
  
}