/* ThankYouPage.css */
.thank-you-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  h1 {
    font-size: 36px;
    color: #3d8b3d;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  